@charset "utf-8"
<style>
            #login{
                padding:30px;
                margin-left: 220px;
            }
            #header {
                background-color:purple;
                color:white;
                text-align:center;
                padding:5px;
            }
            #nav {
                line-height:30px;
                background-color:#eeeeee;
                color: purple;
                height:430px;
                width:200px;
                float:left;
                padding:5px;	      
            }
            #section {
                width:1000px;
                float:left;
                padding:10px;	 	 
                margin-left: 25px;
            }
            #footer {
                background-color:purple;
                color:white;
                clear:both;
                text-align:center;
                padding:5px;	 	 
            }
</style>
